/*
    Primary bcg color : #0C0C0C
    Txt color : #fff

    font: Romanus:  Regular, 
          Helvetica neue: Light
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Romanus;
}

@font-face {
  font-family: Romanus;
  src: url("../fonts/ROMANUS.otf") format("opentype");
}

@font-face {
  font-family: HelveticaC;
  font-weight: light;
  src: url("../fonts/HelveticaNeueLight.otf") format("opentype");
}

@font-face {
  font-family: HelveticaL;
  font-weight: 100;
  src: url("../fonts/HelveticaNeueUltraLight.otf") format("opentype");
}

.wrapper {
  background-color: #0c0c0c;
  color: #fff;
}

nav.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: #0c0c0c;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  height: 67px;
}

.logo h1 {
  font-size: 40px;
  font-family: Romanus;
  font-weight: lighter;
}

.menu-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.menu-container ul li {
  font-size: 15px;
  font-family: HelveticaC;
  font-weight: lighter;
}

.menu-container ul li a {
  color: #fff;
  text-decoration: none;
  font-family: HelveticaL;
  letter-spacing: 0.1rem;
}

.hero-container {
  /* height: calc(100vh - 115px); */
  background-image: url("../img/keyyy.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  /* padding: 40px 0 0 0;
  margin-bottom: 30px; */
  margin-top: 67px;
  position: relative;
}

.left-hero-side,
.right-hero-side {
  width: 50%;
  height: 100%;
}

/* .left-hero-side {
    background-image: url("../img/portrait.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
} */

.right-hero-side {
  width: 40%;
}

.left-hero-side img {
  width: 66%;
  margin-left: 0px;
  margin-top: -60px;
}

.right-hero-side {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.line {
  width: 200px;
  height: 2px;
  background-color: #fff;
}

.right-hero-side h2 {
  font-size: 5em;
  font-weight: 200;
}

.right-hero-side p {
  font-family: HelveticaL;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 0.05em;
}

button {
  /* padding: 8px 25px; */
  padding: 12px 33px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  font-family: HelveticaL;
  letter-spacing: 0.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: #e4e4e4;
  border: 2px solid #000;
  color: #000;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  padding: 0px 0px 40px 0;
  letter-spacing: 0.1rem;
  font-weight: 100;
}

.activity-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.activity-carousel .item {
  transition: all 0.4s;
  -webkit-box-shadow: 13px 10px 15px -9px rgba(33,33,33,1);
  -moz-box-shadow: 13px 10px 15px -9px rgba(33,33,33,1);
  box-shadow: 13px 10px 15px -9px rgba(33,33,33,1);
}

.activity-carousel a:hover .item {
  box-shadow: none;
}
.activity-carousel a .item:hover {
  transform: scale(1.05);
}
.item,
.overlay-item {
  width: 335px;
  height: 400px;
  border-radius: 30px;
}

.item-1,
.item-2,
.item-3 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item-1 {
  background-image: url("../img/Dirigjenti_Mark_crop.jpg");
}

.item-2 {
  background-image: url("../img/M._Kacinari_me_orkestren_e_RTK.jpg");
}

.item-3 {
  background-image: url("../img/Fotografi_e_Mark_Kaçinari_me_orkestren_e_RTK_dhe_korin__Collegium_Cantorum_.jpg");
}

.overlay-item {
  padding: 10px 10px 20px 10px;
  background-color: #000000ad;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 15px;
}

.overlay-item h4 {
  font-size: 20px;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

a {
  color: #fff;
  text-decoration: none;
}

.activity-carousel a {
  transform: scale(1);
  transition: all 0.3s;
}

.activity-carousel a:hover {
  transform: scale(1.2);
}

.activity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  /* margin-top: 75px; */
}

.activity-carousel {
  padding-bottom: 40px;
}

.activity-onl-container {
  min-height: 200px;
  display: flex;
  align-items: center;
  margin-top: 70px;
}

.overlay-item p {
  font-family: 'HelveticaC';
  letter-spacing: 0.02em;
  font-size: 18px;
}

.bcg-line {
  width: 100%;
  height: 1px;
  background: #b8b8b8ab;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.line-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 230px;
  text-align: center;
  align-self: center;
  top: -15px;
  position: relative;
}

.line-item h1 {
  font-size: 58px;
  font-weight: 100;
  min-height: 80px;
}

.line-item p {
  font-size: 22px;
  height: 30px;
  word-break: break-word;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-top: -20px;
  position: relative;
}

.circle::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(165, 165, 165);
  border-radius: 50%;
}

.certifications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certifications-container h1 {
  padding-bottom: 80px;
}

.certf-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.certf-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding-bottom: 50px;
}

.certf-item img {
  width: 100px;
}

.certf-item h3 {
  width: 70%;
}

.certf-item h3,
.certf-item p {
  font-weight: 100;
  letter-spacing: 0.05rem;
}

.music-symbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-left: 7px solid rgb(113, 113, 113);
  border-right: 7px solid rgb(113, 113, 113);
  position: relative;
  margin: 100px 0px 10px 0px;
}

.pentagram-lines {
  width: 100%;
  height: 1px;
  background: rgb(113, 113, 113);
}

.musickey {
  width: 60px;
  position: absolute;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.copyright-wrapper p {
  font-family: HelveticaL;
}

#soundControl {
  position: absolute;
  right: 50px;
  bottom: 40px;
}

#toggleButton {
  border: none;
}

#toggleButton:hover {
  background: none;
  color: none;
}

#toggleButton img {
  width: 40px;
}

canvas {
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: pointer;
  right: 70px;
  /* bottom: 30px; */
  bottom: -130px;
  border: 2px dotted #4b4b4b;
  border-radius: 50%;
  padding: 1px;
}

#dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.dialog-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
}

.dialog-wrapper p {
  font-size: 5vw;
  padding-bottom: 15px;
  display: flex;
  color: #fff;
}

.button-wrapper {
  display: flex;
  gap: 30px;
}

.swiper1 {
  width: 100%;
  height: 550px;
  margin: 80px 0px;
  overflow: hidden;
}

.swiper-slide {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.slide-1 {
  background: url("../img/Dirigjenti_Mark_crop.jpg");
}

.slide-2 {
  background: url("../img/Fotografi_e_Mark_Kaçinari_me_orkestren_e_RTK_dhe_korin__Collegium_Cantorum_.jpg");
}

.slide-3 {
  background: url("../img/MarkKacinari.png");
  background-position: top center !important;
}

.slide-4 {
  background:url('../img/img046-fotor-20241113192527 (1).jpg');
}

.slide-7 {
  background:url('../img/img019-fotor-2024111319125 (1).jpg');
}

.slide-5 {
  background:url('../img/img021-fotor-20241113191310 (1).jpg');
}

.slide-6 {
  background:url('../img/img027-fotor-20241113191418 (1).jpg');
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
}

.btn1 {
  /* position: absolute; */
  width: 30px;
  height: 60px;
  top: 100px;
  left: 0px;
  transition-duration: 0.5s;
}
.btn1 .icon-left {
  transition-duration: 0.5s;
  position: relative;
  height: 2px;
  width: 15px;
  top: 30px;
  background-color: #ffffff;
  left: 0px;
}
.btn1 .icon-left:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  top: -12px;
}
.btn1 .icon-left:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  top: 12px;
}
.btn1 .icon-left:hover {
  cursor: pointer;
}
.btn1 .icon-right {
  transition-duration: 0.5s;
  position: relative;
  height: 2px;
  width: 15px;
  top: 28px;
  background-color: #ffffff;
  left: 15px;
}
.btn1 .icon-right:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  top: -12px;
}
.btn1 .icon-right:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  top: 12px;
}
.btn1.open .icon-left {
  transition-duration: 0.5s;
  background: transparent;
}
.btn1.open .icon-left:before {
  transform: rotateZ(45deg) scaleX(1.4) translate(3px, 3px);
}
.btn1.open .icon-left:after {
  transform: rotateZ(-45deg) scaleX(1.4) translate(3px, -3px);
}
.btn1.open .icon-right {
  transition-duration: 0.5s;
  background: transparent;
}
.btn1.open .icon-right:before {
  transform: rotateZ(-45deg) scaleX(1.4) translate(-3px, 3px);
}
.btn1.open .icon-right:after {
  transform: rotateZ(45deg) scaleX(1.4) translate(-3px, -3px);
}
.btn1:hover {
  cursor: pointer;
}

.desktop-list a {
  display: inline-block;
  position: relative;
}
.desktop-list a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: -4px;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.desktop-list a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Responsive Desigm */

@media (max-width: 716px) {
  .desktop-list {
    display: none !important;
  }

  .mobile-menu ul {
    position: absolute;
    top: 67px;
    width: 100%;
    left: 0;
    height: calc(100vh - 67px);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #0c0c0c;
    opacity: 0; /* Initially hidden */
    transform: translateX(-100%); /* Push links up initially */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transitions for container and links */
    z-index: 2;
  }

  .mobile-menu {
    display: block;
  }
}

.mobile-menu ul.open-menu {
  display: flex;
  opacity: 1; /* Fading in */
  transform: translateY(0); /* Move links down */
}

.mobile-menu ul li {
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Initially push links down */
  transition: opacity 2s ease, transform 1s ease, transition-delay 1s; /* Smooth transitions for list items */
}

.mobile-menu ul.open-menu li {
  opacity: 1; /* Fading in list items */
  transform: translateY(0); /* Move links up */
}

.mobile-menu ul li a {
    font-size: 25px;
}

nav.menu-container,
.menu {
  z-index: 1000;
}


/***************************  Biografi CSS Start  **************************/
.all-padd {
  padding: 20px 50px;
}

.breadcrumb {
  margin-top: 67px;
  min-height: 250px;
  background-image: url("../img/img054-fotor-20241113193121.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 80px;
}

.breadcrumb-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.361);
}

.breadcrumb-txt {
  font-size: 4em;
  z-index: 9;
}

.bio-first-section,
.bio-sec-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 80px 50px;
}

.wrapper {
  background-image: url('../img/bg/Group45.png');
  background-position: center;
  background-size: contain;
}

/* .bio-sec-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.17;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg/key-notes.png");
  background-position: top center;
  background-size: cover;
  background: linear-gradient(0deg, rgba(12,12,12,1) 0%, rgba(12,12,12,1) 2%, rgba(255,255,255,0) 41%), url(../img/bg/key-notes.png) no-repeat top center;
  background-size: cover;
} */

.left-side-wrapper {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
}

.left-side,
.left-side-sec {
  position: relative;
}

.right-side,
.right-side-sec {
  margin-left: 30px;
  padding-right: 50px;
  width: 50%;
}

.right-side h1 {
  margin-bottom: 15px;
  font-size: 40px;
}

.right-side p {
  font-size: 20px;
  letter-spacing: 1.3px;
}

.left-side img,
.left-side-sec img {
  max-height: 400px;
  border-radius: 30px;
  position: relative;
  transition: all 0.3s;
  box-shadow: -30px -24px 15px -9px rgba(33, 33, 33, 1);
  -webkit-box-shadow: -30px -24px 15px -9px rgba(33, 33, 33, 1);
  -moz-box-shadow: -30px -24px 15px -9px rgba(33, 33, 33, 1);
}

.left-side img:hover,
.left-side-sec img:hover {
  transform: translate(-22px, -17px) scale(1.01);
  box-shadow: none;
}


.text-wrapper p {
  color: #fff;
  /* font-family: HelveticaC; */
  letter-spacing: 2px;
}

/* .right-side-sec {
  margin-left: 0px;
  margin-right: 100px;
} */

.left-side::before, 
.left-side-sec::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #3a3a3a;
  transition: all .3s ease;
  z-index: 0;
  border-radius: 30px;
}

.left-side::before {
  -webkit-transform: translate3d(-22px, -20px, 0);
  transform: translate3d(-22px, -20px, 0);
}

.left-side-sec::before {
  -webkit-transform: translate3d(22px, -20px, 0);
  transform: translate3d(22px, -20px, 0);
}

.font-classic {
  font-family: HelveticaL;
}

.order-2 {
  order: 2;
} 

.order-1 {
  order: 1;
}


/***************************  Biografi CSS End  **************************/

/*************************** Veprimtaria CSS Start ***********************/

.veprimtaria {
  background-image: url('../img/img046-fotor-20241113192527 (1).jpg');
  /* background-position: 10% 36%; */
}

.veprimtaria-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .main-img-wrapper {
  width: 600px;
  height: 770px;
  background-image: url('../img/bg/image (2).png');
  background-position: center;
  background-size: cover;
} */

.main-img-wrapper img {
  max-width: 450px;
  padding-inline: 30px;
}

.left-side-veprimtaria p,
.right-side-veprimtaria p {
  /* line-height: 1.5em; */
  font-size: 22px;
  letter-spacing: .05em;
}

.right-side-veprimtaria p {
  text-align: center;
}

.left-side-veprimtaria,
.right-side-veprimtaria,
.main-img-wrapper {
  width: 33%;
}

.main-img-wrapper {
  display: flex;
  justify-content: center;
}

.left-side-veprimtaria p::first-letter {
  font-size: 4em;
  padding: 0;
  float: left;
  margin-top: -7px;
  clear: both;
}

.veprimtaria-bottom {
  display: flex;
  justify-content: center;
}

/* .vp-b-wrapper {
  width: 60%;
} */

.vp-b-wrapper-text {
  font-size: 22px;
  text-align: center;
  width: 50%;
  margin: auto;
}

.lista-e-veprave {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 30px;
}

.veprat-korale-lista {
  /* display: flex;
  gap: 20px;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.veprat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin-top: 40px; */
}

.veprat-wrapper h5 {
  font-size: 32px;
}

.veprat-wrapper p {
  font-size: 23px;
}

/* Swiper Container */
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Swiper Wrapper */
.swiper-wrapper {
  display: flex;
  transition: transform 0.5s ease; /* Smooth transition for sliding */
}

.swiper2 {
  overflow: hidden;
}

/* Individual Slide */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px; /* Set a height for the slides */
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

/* Overlay for the slide content */
.veprat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 20px;
  height: 300px;  
  justify-content: center;
  background-size: cover;
  position: relative;
}

.veprat-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #00000075;
}

/* Slide title and content styling */
.veprat-wrapper h5 {
  font-size: 32px;
  color: #fff;
}

.veprat-wrapper p {
  font-size: 23px;
  color: #fff;
}

/* Background images */
.vepra-1 {
  background-image: url('../img/1-c.jpg');
}
.vepra-2 {
  background-image: url('../img/2.jpg');
}
.vepra-3 {
  background-image: url('../img/3.jpg');
}
.vepra-4 {
  background-image: url('../img/4.jpg');
}
.vepra-5 {
  background-image: url('../img/5.jpg');
}
.vepra-6 {
  background-image: url('../img/6.jpg');
}
.vepra-7 {
  background-image: url('../img/7.jpg');
}
.vepra-8 {
  background-image: url('../img/8.jpg');
}
.vepra-9 {
  background-image: url('../img/9.jpg');
}
.vepra-10 {
  background-image: url('../img/10.jpg');
}

/* Hover effect for background size change */
/* .vepra-1:hover, .vepra-2:hover, .vepra-3:hover,
.vepra-4:hover, .vepra-5:hover, .vepra-6:hover,
.vepra-7:hover, .vepra-8:hover, .vepra-9:hover,
.vepra-10:hover {
  background-size: 150%;
  transition: background-size 0.3s ease; 
} */

/* Z-index management for content */
.z-2 {
  z-index: 2;
}

/* Pagination style */
.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

/*************************** Veprimtaria CSS End ***********************/

/* Mirenjohjet CSS Start */

.mirenjohjet {
  background-image: url(../img/bg/img033-fotor-20241113191810.jpg);
  background-position: 10% 36%;
}

.mirenjohjet-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vleresimi-nder-vite {
  margin-bottom: 40px;
}

.vleresimi-nder-vite h3 {
  font-size: 35px;
  text-align: center;
  letter-spacing: .1em;
}

.vleresimi-nder-vite p {
  font-size: 24px;
  text-align: center;
  letter-spacing: .05em;
}

.vleresimi-img-wrapper {
  max-width: 500px;
  margin-top: -15px;
  opacity: 0.4;
}

.vleresimi-img-wrapper img {
  width: 100%;
  transform: rotate(340deg);
}

.lista-e-mirenjohjeve ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.lista-e-mirenjohjeve ul li {
  width: calc(50% - 20px);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.lista-e-mirenjohjeve ul li h5 {
  font-size: 23px;
  padding-bottom: 4px;
  letter-spacing: .05em;
  width: 90%;
  margin: auto;
}

.lista-e-mirenjohjeve ul li p {
  font-size: 18px;
  font-family: HelveticaC;
  letter-spacing: 0.05em;
  width: 80%;
  margin: auto;
}

/* Mirenjohjet CSS End */

@media (max-width: 1024px) {
  .hero-container {
    height: 100%;
  }
  .bio-first-section, .bio-sec-section {
    flex-direction: column;
  }

  .right-side {
    width: 100%;
  }

  .order-1 {
    order: 2;
  }

  .order-2 {
    order: 1;
  }
}


@media (max-width: 716px) {
    .logo h1 {
        font-size: 25px;
    }

    .left-hero-side img {
        width: 90%;
    }

    canvas {
        right: 15px;
        bottom: 25px;
    }

    .right-hero-side h2 {
        font-size: 35px;
    }
}

@media (max-width: 550px) {
    .hero-container {
        height: auto;
        margin-bottom: 0px;
        padding-bottom: 20px;
    }

    .left-hero-side {
        width: 50%;
        height: auto;
    }

    .left-hero-side img {
        width: 100%;
        margin-left: -30px;
    }

    .right-hero-side {
        width: 50%;
    }

    .title {
        padding: 0 0 20px 0;
    }

    .item,
    .overlay-item {
        width: 220px;
        height: 270px;
    }

    .swiper1 {
        height: 300px;
    }

}

@media (max-width: 450px) {
    nav.menu-container {
        padding: 10px 30px;
    }

    .hero-container {
        flex-direction: column;
    }

    .left-hero-side {
        width: 100%;
    }

    .left-hero-side img {
        width: 60%;
    }

    .right-hero-side {
        width: 100%;
        display: flex;
        align-items: flex-end;
        margin-top: -80px;
        padding: 0px 15px 40px 15px ;
    }

    canvas {
        left: 15px;
    }

    .activity-carousel {
        gap: 25px;
    }

    .item,
    .overlay-item {
        /* width: 180px; */
        width: 230px;
        height: 260px;
    }

    .certf-item {
        width: 100%;
    }

    .certf-wrapper {
        gap: 20px;
    }

    .logo-wrapper h1 {
        font-size: 25px;
    }
}

@media (max-width: 1245px) {
  .left-hero-side {
    margin-top: 40px;
  }
}

@media (max-width: 1065px) {
  .right-hero-side h2 {
    font-size: 4em;
  }
}

.bottom-sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg/key-notes (1).png');
  opacity: 0.1;
  z-index: 1;
  background-repeat: space;
}

.yt-vid-wrapper iframe {
  border: 2px solid #323232;
  padding: 5px;
}

@media (max-width: 878px) {
  .right-hero-side h2 {
    font-size: 3em;
  }
  
  .title {
    padding: 0 0 0 0;
  }

  .item, .overlay-item {
    width: 300px;
    height: 310px;
  }

  .left-side,
  .left-side-wrapper {
    width: 100%;
  }

  .left-side img, .left-side-sec img {
    max-height: 380px;
    width: 100%;
    object-fit: cover;
  }

  .right-side, .right-side-sec {
    margin-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    width: 100%;
  }

  .bio-first-section, .bio-sec-section {
    padding: 40px 50px;
  }

  .bottom-sec::before {
    background-repeat: repeat;
  }

}

@media (max-width: 787px) {
  .left-hero-side {
    margin-top: 70px;
  }

}

@media (max-width: 500px) {
  .hero-container {
    background-image: none;
  }

  .left-hero-side img {
    width: 85%;
  }

  .right-hero-side {
    margin-top: -60px;
  }

  .item, .overlay-item {
    width: 290px;
    height: 320px;
  }

  .activity-carousel {
    gap: 35px;
    padding-bottom: 0;
  }
  
  .bcg-line {
    flex-direction: column;
    height: 100%;
    background: none;
    gap: 30px;
  }

  .circle {
    display: none;
  }

  .line-item {
    gap: 0;
  }

  .bio-first-section, .bio-sec-section {
    padding: 20px 10px;
    flex-direction: column;
  }

  .left-side img, .left-side-sec img {
    max-height: 250px;
  }

  .right-side, .right-side-sec {
    width: 100%;
  }

  .right-side {
    margin-bottom: 40px;
  }

  .right-side h1 {
    font-size: 30px;
  }

  .order-2 {
    order: 1;
  }

  .order-1 {
    order: 2;
  }

  .right-side p {
    font-size: 18px;
    font-family: 'HelveticaL';
    letter-spacing: 0.1em;
  }

  .music-symbol {
    margin: 40px 0 10px 0;
  }

  .veprimtaria-main.all-padd {
    flex-direction: column;
  }

  .left-side-veprimtaria, .right-side-veprimtaria, .main-img-wrapper {
    width: 100%;
  }

  .all-padd {
    padding: 20px 30px;
  }

  .breadcrumb {
    margin-bottom: 30px;
  }

  .main-img-wrapper {
    order: 1;
  }

  .left-side-veprimtaria {
    order: 2;
  }

  .right-side-veprimtaria {
    order: 3;
    text-align: left;
  }

  .vp-b-wrapper-text {
    text-align: left;
    width: 100%;
    margin: 0;
  }

  .veprimtaria-main {
    padding-bottom: 0px;
  }

  .right-side-veprimtaria p {
    text-align: left;
  }

  .veprimtaria-bottom {
    padding-top: 0px;
  }

  .yt-vid-wrapper iframe {
    width: 100%;
  }

  .main-img-wrapper img {
    max-width: 250px;
    padding-bottom: 30px;
    padding-inline: 0px;
  }

  .yt-vid-wrapper {
    width: 100%;
  }
  
  .yt-video-txt {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
  }

  .vleresimi-nder-vite h3 {
    font-size: 25px;
  }

  .vleresimi-nder-vite p {
    font-size: 20px;
  }

  .lista-e-mirenjohjeve ul li {
    width: 100%;
  }

  .lista-e-mirenjohjeve ul li h5,
  .lista-e-mirenjohjeve ul li p {
    width: 100%;
  }
}



.left-side-wrapper,
.right-side {
  z-index: 9;
}

nav.menu-container {
  z-index: 9999 !important;
}

/* .leFadeInRight span { animation-name: leFadeInRight }
@keyframes leFadeInRight {
    from {
        opacity: 0;
        transform: translateX(60px);
    }
    to { opacity: 1 }
} */

/* .leFadeInBottom span { animation-name: leFadeInBottom }
@keyframes leFadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

 */

 .audio-player-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.player-wrapper {
 max-width: 50%;
}

.player-wrapper h3 {
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

.player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* width: 150px;
  height: 150px; */
  margin: 10px;
  border-radius: 10px;
  background-color: transparent;
}

.play-button {
  position: relative;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  z-index: 1;
  padding: 15px 10px;
}

.play-button:hover {
  background-color: #101010;
  border: 2px solid #484848;
}

.ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  animation: none;
  pointer-events: none;
}

@keyframes ripple-animation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}

.animated-element {
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease; /* Smooth fade-in effect */
}



/* Customize the entire scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px; /* Height for horizontal scrollbars */
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background: #212121; /* Background color of the track */
  border-radius: 3px; /* Rounded corners */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 3px; /* Rounded corners */
}

/* Add hover effects for the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color when hovering */
}

@media (min-width: 448px) and (max-width: 650px) {
  .hero-container {
    flex-direction: column;
  }
 
  .left-hero-side {
    width: 100%;
  }

  .right-hero-side {
    width: 80%;
    margin-bottom: 40px;
  }

  .hero-container {
    background-size: 50%;
    background-position: right top;
  }
}

@media (max-width: 448px) {
  .player-wrapper {
    width: 45%;
    min-height: 165px;
  }
}

@media (max-width: 550px) {
  .dialog-wrapper p {
    font-size: 40px;
    text-align: center;
  }
}

.test {
  position: relative;
  width: 100%;
  height: 100%;
}

.right-hero-side svg {
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0.5;
}

footer #copyright {
  font-family: 'HelveticaC';
  font-size: 20px;
}