/*
    Primary bcg color : #0C0C0C
    Txt color : #fff

    font: Romanus:  Regular, 
          Helvetica neue: Light
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Romanus;
}

@font-face {
    font-family: Romanus;
    src: url("../fonts/ROMANUS.otf") format("opentype");
}

@font-face {
    font-family: HelveticaC;
    font-weight: light;
    src: url("../fonts/HelveticaNeueLight.otf") format("opentype");
}

@font-face {
    font-family: HelveticaL;
    font-weight: 100;
    src: url("../fonts/HelveticaNeueUltraLight.otf") format("opentype");
}

.wrapper {
    background-color: #0C0C0C;
    color: #fff;
}

nav.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.logo h1 {
    font-size: 40px;
    font-family: Romanus;
    font-weight: lighter;
}

.menu-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.menu-container ul li {
    font-size: 15px;
    font-family: HelveticaC;
    font-weight: lighter;
}

.menu-container ul li a {
    color: #fff;
    text-decoration: none;
    font-family: HelveticaL;
    letter-spacing: 0.1rem;
}

.hero-container {
    height: calc(100vh - 115px);
    background-image: url("../img/keyyy.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 40px 0;
}

.left-hero-side,
.right-hero-side {
    width: 50%;
    height: 100%;
}

/* .left-hero-side {
    background-image: url("../img/portrait.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
} */

.right-hero-side {
    width: 40%;
}

.left-hero-side img {
    width: 60%;
    margin-left: -50px;
}

.right-hero-side {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.line {
    width: 250px;
    height: 2px;
    background-color: #fff;
}

.right-hero-side h2 {
    font-size: 50px;
    font-weight: 200;
}

.right-hero-side p {
    font-family: HelveticaL;
    letter-spacing: 0.3px;
    color: #fff;
    font-size: 18px;
}

.right-hero-side button {
    padding: 8px 25px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    font-family: HelveticaL;
    letter-spacing: 0.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.right-hero-side button:hover {
    background-color: #e4e4e4;
    border: 2px solid #000;
    color: #000;
}

