.swiper-wrapper {
    position: relative;
  }

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    max-height: 300px;
    border-radius: 20px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
  }

.swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: #ffffff !important;
}

.yt-vid-wrapper iframe {
    border-radius: 20px;
}

.yt-vid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.yt-video-txt {
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.swiper-wrapper-top .swiper {
    margin: 40px 0 !important;
}

.mb-30 {
    margin-bottom: 30px;
}
 

.collegium-cantorum {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collegium-cantorum video {
  width:700px;
  height: 400px;
}

.collegium-cantorum video {
  border: 2px solid #303030;
  padding: 7px;
  border-radius: 15px;
}

.collegium-cantorum {
  padding: 70px 0;
}

.collegium-cantorum h3 {
  text-align: center;
}

@media (max-width: 787px) {
  .collegium-cantorum video {
    width: 85%;
    height: 100%;
  }
}